<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link
      rel="preconnect"
      href="https://cdn.shopify.com"
      crossorigin>
    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>
      {{ page_title }}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %}
        &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description -%}
      <meta name="description" content="{{ page_description | truncate: 150 }}">
    {% endif %}

    {{ content_for_header }}

   {{ 'base.css' | asset_url | stylesheet_tag }}
  </head>

  <body>
    <header id="header" data-bg-color="{{ settings.header_background_color }}" data-bg-opacity="{{ settings.header_background_opacity }}">
  <nav>
    {% if settings.header_logo %}
      <a href="/">
        <img src="{{ settings.header_logo | img_url: 'master' }}" alt="{{ shop.name }}" style="max-width: {{ settings.header_logo_size }}px;"/>
      </a> 
    {% else %}
      <a href="/">{{ 'Logo' }}</a>
    {% endif %}
    <ol>
      <span>
          <svg class="cart-icon" aria-hidden="true" focusable="false">
          <use xlink:href="{{ 'shopping_cart_false.svg' | asset_url }}"></use>
          </svg>
</span>
      <button class="hamburger-icon" aria-label="Open menu" onclick="toggleMenu()">
      <svg width="30" height="28" viewBox="0 0 30 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="30" height="5" rx="2.5" fill="#EEEEEE"/>
      <rect y="12" width="30" height="5" rx="2.5" fill="#EEEEEE"/>
      <rect y="23" width="30" height="5" rx="2.5" fill="#EEEEEE"/>
      </svg>
      </button>
<div id="slideMenu" class="slide-menu">
  <button class="close-menu" aria-label="Close menu" onclick="toggleMenu()">
  <svg width="30px" height="28px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#121212">
  <g stroke-width="0"/>
  <g stroke-linecap="round" stroke-linejoin="round"/>
  <g> <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" fill="#181818"/> </g>
  </svg>
  </button>
  <nav id="mobile-navigation">
    <ul>
      {% for link in linklists.main-menu.links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</div>
    </ol>
  </nav>
</header>

    <main id="main" role="main">
    {{ content_for_layout }}
    </main>

    <footer id="footer" data-bg-color="{{ settings.footer_background_color }}" data-bg-opacity="{{ settings.footer_background_opacity }}">
  <section>
    <div id="footer-legal">
      <span>©2024 All rights reserved</span>
      <span>Use of this Site is subject to terms of use. By using this site, you signify that you agree to the bound by these Terms of Service.</span>
    </div>
  </section>
</footer>
    {{ 'theme-functions.js' | asset_url | script_tag }}
    <script>
function toggleMenu() {
  var menu = document.getElementById("slideMenu");
  if (menu.classList.contains("open")) {
    menu.classList.remove("open");
  } else {
    menu.classList.add("open");
  }
}
    </script>
  </body>
</html>
