<section class="custom-404">
    <h1>404 test</h1>
<style>

.custom-404 h1 {
  font-size: 7em;
}
.custom-404 { 
  text-align: center; 
  padding: 50px; 
}
  </style>


  {%- assign name = 'kaw' -%}
  {%- assign strings = "a, random, string" | split: ", " -%}

  <br>
  <hr>
  {% for string in strings %}
    {{ string }}
  {% endfor %}

  <br>
  {% if name == 'William' or name.size >= 3 %}
    {{ name | prepend: 'Welecome back, '}}
  {% else %}
    {% assign error = 'Something went wrong' %}
    <h2 style="font-weight:bold; color:red;">{{ error | prepend: 'Error: ' }}</h2>
    <br>
    <p>Your name: {{ name }} and it's only {{ name | size }} characters</p>
  {% endif %}

</section>

